/*====== Only demo ======*/
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/*====== Forms ======*/
.checkbox label input, .radio label input{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

/*====== Modal ======*/
.modal-loader .modal-content {
  background: transparent;
  text-align: center;
  color: @navy;
  width: 100%;
  height: 100%;
}

.modal-loader .fa-spinner {
  display: inline-block;
  top: 50%;
  margin-top: -1.5em;
  position: relative;
}