/*====== Only demo ======*/
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/*====== Miscellaneous ======*/
.no-pull, .no-float {
  float: none!important;
}

.no-background {
  background: transparent!important;
}

.vertical-middle, .vertical-middle td{
  vertical-align: middle!important;
}

/*====== Forms ======*/
.checkbox label input, .radio label input{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

/*====== Modal ======*/
.modal-loader .modal-content {
  background: transparent;
  text-align: center;
  color: @navy;
  width: 100%;
  height: 100%;
}

.modal-loader .fa-spinner {
  display: inline-block;
  top: 50%;
  margin-top: -1.5em;
  position: relative;
}

/*====== Time Table ======*/
#time-table div[disabled=disabled] {
  background: #f8f8f8;
}

/*====== Typeahead ======*/
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}