/*
 *
 *
 *   ______                        _____           __
 *  /_  __/__  ____ _____ ___     / ___/__  ______/ /___
 *   / / / _ \/ __ `/ __ `__ \    \__ \/ / / / __  / __ \
 *  / / /  __/ /_/ / / / / / /   ___/ / /_/ / /_/ / /_/ /
 * /_/  \___/\__,_/_/ /_/ /_/   /____/\__,_/\__,_/\____/
 *
 *
 *
 * Filename->lewe.css
 * Project->lexue
 * Description->The stylesheet that modifies weui.css
 *
 * Created by DM on 16/7/15 上午0:03.
 * Copyright 2016 Team Sudo. All rights reserved.
 *
 */

/*
|--------------------------------------------------------------------------
| COMMON STYLES
|--------------------------------------------------------------------------
*/
/* Generic Style */
.bd {
    background-color: #fbf9fe;
}

/* Icon Area Style */
.weui_icon_area {
    text-align: center;
}

/* Badges Style */
.badge {
    font-size: 13px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    cursor: default;
    min-width: 30px;
    padding: 3px 5px;
    background: #e6e6e6;
    border-radius: 0;
    color: #333;
}
.badge.primary {
    background: #0e90d2;
    border-radius: 0;
    color: #fff;
}
.badge.secondary {
    background: #3bb4f2;
    border-radius: 0;
    color: #fff;
}
.badge.success {
    background: #5eb95e;
    border-radius: 0;
    color: #fff;
}
.badge.warning {
    background: #f37b1d;
    border-radius: 0;
    color: #fff;
}
.badge.alert {
    background: #dd514c;
    border-radius: 0;
    color: #fff;
}
.badge.dark {
    background: #393939;
    border-radius: 0;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| PAGE STYLES
|--------------------------------------------------------------------------
*/

/* Teachers Index Page */
.teachers_index .weui_panel {
    background-color: transparent;
}
.teachers_index .weui_panel_hd {
    background-color: #fff;
    /* box-shadow: 0 1px 2px rgba(0,0,0,.3); */
}
.teachers_index .weui_panel_hd:after {
    left: 0;
    border-bottom: 1px solid #bcbab6;
}
.teachers_index .weui_media_box {
    padding: 15px;
}
.teachers_index .weui_media_box:before {
    left: 0;
    border-top: none;
}
.teachers_index .weui_media_box.weui_media_appmsg {
    margin: 15px;
    background-color: #fff;
    border-radius: 1px;
    /*
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    */
    box-shadow: 1px 1px 0 rgba(100,100,100,.1);
}
.teachers_index .weui_media_box.weui_media_appmsg .weui_media_hd {
    margin-right: 15px;
    width: 20%;
}
.teachers_index .weui_media_box.weui_media_appmsg .weui_media_appmsg_thumb {
    border-radius: 50%;
    width: auto;
}
.teachers_index .weui_media_box.weui_media_appmsg .weui_media_bd h4 {
    margin: 0;
}
.teachers_index .weui_media_box .weui_media_desc {
    line-height: 1.5;
    overflow: auto;
    text-overflow: ellipsis;
    display: block;
}
.teachers_index .pricetag {
    color: #fff;
    background-color: #85bb65;
    font-size: 16px;
    padding: 2px 3px;
    margin-top: -7px;
    position: absolute;
    right: -2px;
}
.teachers_index .badgegroup {
    margin-top: 3px;
}

/* Teachers Show Page */
.teachers_show .weui_icon_area {
    padding: 5% 0 3%;
}
.teachers_show .avatar {
    width: 30%;
    border-radius: 50%;
}
.teachers_show .weui_navbar {
    border-top: 1px solid #ccc;
}
.teachers_show .weui_tab_bd {
    background-color: #fff;
    padding-bottom: 50px;
}
.teachers_show .bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: rgba(245,245,245,.8);
    font-size: 15px;
    padding: 13px 0;
}
.teachers_show .bottombar_text {
    float: left;
    margin-left: 10px;
}
.teachers_show .bottombar .weui_btn {
    float: right;
    margin-top: -2px;
    margin-right: 15px;
}
.teachers_show #teachers_video {
    margin-top: 30px;
    width: 100%;
}
.teachers_show .calendar {
    padding: 5px;
    margin: 15px 0 10px;
}
.teachers_show .calendar_day {
    display: inline-block;
    width: calc(100% / 7 - 4px);
    text-align: center;
    font-size: 13px;
    color: #444;
}
.teachers_show .calendar_day .date {
    font-size: 24px;
}
.teachers_show .weui_cells .weui_cell_desc {
    font-size: 14px;
    padding: 15px;
}